name: CI

on: [push]

jobs:
  phpstan:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Cache Composer dependencies
      uses: actions/cache@v3
      with:
        path: /tmp/composer-cache
        key: ${{ runner.os }}-${{ hashFiles('**/composer.lock') }}

    - uses: php-actions/composer@v6
      with:
        php_version: 8.2

    - uses: php-actions/phpstan@v3
      with:
        php_version: 8.2
        path: src/
        version: composer
        configuration: phpstan.neon
        command: analyse

  phpunit:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Cache Composer dependencies
      uses: actions/cache@v3
      with:
        path: /tmp/composer-cache
        key: ${{ runner.os }}-${{ hashFiles('**/composer.lock') }}

    - uses: php-actions/composer@v6
      with:
        php_version: 8.2

    - uses: php-actions/phpunit@v4
      with:
        php_version: 8.2
        php_extensions: pcntl
        version: composer
        configuration: phpunit.xml
        args: '--testdox'

